.App {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(80vh, auto);
  gap: 8rem;
  overflow: hidden;
  /* min-height: 100vh; */
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.left h1 {
  font-size: 3.5em;
}
.left p {
  font-weight: 400;
}

.right {
  padding: 8rem 0 0 8rem;
  color: rgb(169, 77, 255);
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
}

.add-todo span {
  font-size: 1.2em;
}

.add-icon {
  font-size: 2em;
}

@media screen and (max-width: 1030px) {
  body {
    font-size: 1.4rem !important;
  }
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8rem;
  }
  .left {
    margin-top: 4rem;
  }
  .right {
    padding: 4rem;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 1.3rem !important;
  }
  .right {
    padding: 0;
  }
}
